.group {
  margin-top: 50px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.item {
  width: 10vw; /* Default width */
  height: 50vh;
  background-position: center;
  background-size: cover;
  margin: 1vw;
  border-radius: 3vw;
  display: inline-block;
  cursor: pointer;
  transition: width 0.2s ease; /* Smooth transition */
}

.item.expanded {
  width: 42vw; /* Expanded width */
}
